/* reset css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --bg--color: #d5d5d5;
  --font-color: #545454;
}
.wrapper {
  max-width: 136.6rem;
  margin: 0 auto;
}
/* Begin header */
.header {
  margin-top: 5rem;
  max-height: 73.8rem;
}
.nav_list {
  display: flex;
  justify-content: space-between;
}
.nav_item {
  padding-left: 6rem;
  padding-right: 6rem;
}
.nav_link {
  font-size: 2.286rem;
  font-weight: bold;
  color: black;
}

.slider {
  width: 117rem;
  height: 57.6rem;
  margin-right: 9.9rem;
  margin-left: 9.9rem;
  margin-top: 5.6rem;
  background-color: var(--bg--color);
}
.list_dot {
  display: flex;
  justify-content: center;
  padding-top: 2.2rem;
}
.dot {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--bg--color);
  display: inline-block;
  margin-right: 1.3rem;
}
.list_dot .dot:nth-child(3) {
  background: black;
}
/* End header */
.about_us {
  height: 45.6rem;
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}
.box-project {
  width: 55.6rem;
  height: 38.5rem;
}
.project_title {
  font-weight: bold;
  font-size: 3.3rem;
  color: black;
  padding-bottom: 9.5rem;
  padding-left: 9.9rem;
  padding-top: 1.5rem;
}
.project_description {
  line-height: 2.7rem;
  margin-left: 20.7rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--font-color);
  width: 37.2rem;
}
.box-image {
  width: 55.6rem;
  height: 38.5rem;
  background-color: var(--bg--color);
  margin-right: 11.2rem;
}
/* END PROJECT */
/* Our_Standards */
.box_Our_Standards {
  height: 58.5rem;
}
.Our_Standards {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}
.project_date {
  width: 58.4rem;
  padding-left: 10rem;
}
.project_date--title,
.the_challenge--title {
  font-weight: bold;
  font-size: 3.3rem;
}
.project_data--year,
.the_challenge--des {
  padding-top: 1.7rem;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  color: var(--font-color);
}
.the_challenge {
  width: 51rem;
  margin-right: 17.6rem;
}
.the_challenge--des,
.project_data--year {
  margin-top: 4.2rem;
}
.the_challenge--des {
  line-height: 2.5rem;
  width: 49.1rem;
}
/* End Our_Standards */
.photo_list {
  display: flex;
  justify-content: center;
  margin-top: 12.2rem;
}
.photo_image {
  width: 36.8rem;
  height: 27.9rem;
  background-color: var(--bg--color);
  margin-left: 1.8rem;
}
/* END */
.box_Our_Standards {
  height: 58.5rem;
}
.Our_Standards {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}
.project_date {
  width: 58.4rem;
  padding-left: 10rem;
}
.project_date--title,
.the_challenge--title {
  font-weight: bold;
  font-size: 3.3rem;
}
.project_data--year,
.the_challenge--des {
  padding-top: 1.7rem;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  color: var(--font-color);
}
.the_challenge {
  width: 51rem;
  margin-right: 17.6rem;
}
.the_challenge--des,
.project_data--year {
  margin-top: 4.2rem;
}
.the_challenge--des {
  line-height: 2.5rem;
  width: 49.1rem;
}
/* End Our_Standards */
.photo_list {
  display: flex;
  justify-content: center;
  margin-top: 11.5rem;
}
.photo_image {
  width: 36.8rem;
  height: 27.9rem;
  background-color: var(--bg--color);
  margin-left: 1.8rem;
}
/* end */
/* Begin Our_Standards */

.box_Our_Approach {
  max-height: 149rem;
}
.Our_Approach {
  display: flex;
  justify-content: space-between;
  margin-top: 14.6rem;
}
.project_role {
  width: 58.4rem;
  padding-left: 10rem;
}
.project_role--title,
.Our_Approach--title {
  font-weight: bold;
  font-size: 3.3rem;
}
.project_role--des,
.Our_Approach--des {
  padding-top: 1.7rem;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  color: var(--font-color);
}
.the_challenge {
  width: 51rem;
  margin-right: 17.6rem;
}
.the_challenge--des,
.project_role--des {
  margin-top: 4.2rem;
}
.Our_Approach--des {
  line-height: 2.5rem;
  width: 49.1rem;
}
/* End Our_Standards */
/* Begin Footer */
.photo_list {
  display: flex;
  justify-content: center;
  margin-top: 12.2rem;
}
.photo_image {
  width: 36.8rem;
  height: 27.9rem;
  background-color: var(--bg--color);
  margin-left: 1.8rem;
}
.photo_image--bottom {
  margin-top: 5.5rem;
  height: 57.4rem;
  background-color: var(--bg--color);
  margin-left: 1.8rem;
}
.button {
  background-color: white;
  border: none;
  color: black;
  width: 19.1rem;
  height: 4.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 9.7rem;
  margin-bottom: 11.4rem;
  margin-left: auto;
  margin-right: auto;
}
/* END */
.footer {
  display: flex;
  justify-content: space-between;
}
.contact_email {
  margin-left: 7.8rem;
}
.get_in_touch {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--font-color);
}
.network {
  display: flex;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: column;
  margin-right: 26.2rem;
}
.footer_nav_link {
  font-size: 1.5rem;
  color: #999999;
  font-weight: 400;
  line-height: 2.53rem;
}
/* End footer */
