/* reset css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --bg--color: #323031;
  --bg--hover: #dac533;
  --font--color: white;
}
.nav {
  width: 100%;
  background: var(--bg--color);
  height: 4.5rem;
  border-top: 0.2rem solid var(--bg--hover);
}
.container {
  display: flex;
  justify-content: center;
}
.nav_list {
  display: flex;
  flex-direction: row;
}
.nav_item {
  line-height: 4.3rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  position: relative;
}
.nav_link {
  color: var(--font--color);
  text-transform: uppercase;
}
.nav_item:hover {
  background: #292929;
}
.nav_item:hover > .nav_link {
  color: var(--bg--hover);
}
.nav_table {
  display: none;
  min-width: 70rem;
  position: absolute;
  background: var(--bg--color);
  left: 0;
  top: 100%;
}
.nav_table_list {
  display: table-row;
}
.nav_table_item {
  display: table-cell;
  padding: 0 2rem;
  color: red;
  width: 36%;
  padding-left: 0.6rem;
}
.nav_table_link {
  color: var(--font--color);
  display: block;
  width: 100%;
  padding-left: 0.3rem;
}

.nav_item:hover > .nav_table {
  display: block;
}
.nav_table_item:hover {
  background: #292929;
}
